@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: Figtree;
	font-style: normal;
	font-weight: 500, 800;
	src: url('https://fonts.google.com/specimen/Figtree');
}

body {
	font-size: 16px;
}
p {
	line-height: 1.6;
}
